@import "@/styles/var.scss";

.tit {
  font-size: fcSize(24, 30);
  font-weight: 700;
  color: var(--color-surface);
  border-bottom: 1px solid $color2;

  @media (prefers-color-scheme: dark) {
    border-bottom-color: var(--color-gray-lv2);
  }
  &::first-letter {
    text-transform: uppercase;
  }
  padding: 1rem;
  margin-top: 2em;
  span {
    color: var(--color-surface);
    font-size: fcSize(14, 18);
    font-weight: 400;
    margin-left: 1em;
  }
}

.section_cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    li {
      grid-row: auto !important;
    }
  }
  margin-top: 2em;
  gap: fcSize(8, 10);
  li {
    background-color: var(--color-background);
    border-radius: 1rem;
    padding: fcSize(20, 30) fcSize(16, 20);
    display: flex;
    flex-direction: column;
    gap: 1em;

    &.col2 {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 501px) {
        grid-column: 1/3;
      }
      background-color: transparent;
      border: 2px solid var(--color-background);
      box-sizing: border-box;
      padding: fcSize(15, 20) fcSize(16, 20);
      div {
        margin: 0;
      }
      @media (prefers-color-scheme: dark) {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .title,
  .speaker {
    padding: 0 0.5rem;
  }
  .title {
    font-weight: 700;
    font-size: fcSize(16, 18);
    word-break: keep-all;
    letter-spacing: -0.01em;
    line-height: 1.4;
    flex-grow: 1;

    &::first-letter {
      text-transform: uppercase;
    }
    span {
      display: block;
      font-weight: 400;
      font-size: 0.85em;
      color: var(--color-gray-lv4);

      margin-top: 0.3em;
    }
  }
  .speaker {
    strong {
      color: var(--color-gray-lv4);
    }
    span {
      color: var(--color-gray-lv3);
      font-size: 0.9em;
      display: inline-flex;
      align-items: center;
      gap: 0.5em;
      margin-left: 0.5em;
      &::before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 0.8em;

        background-color: var(--color-gray-lv2);
      }
    }
  }

  .spaceTime {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 0.5em;
    font-size: 0.85em;
    margin-bottom: 1.6rem;
  }
  .space {
    color: $color2;
    background-color: $color;

    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
    font-size: 0.9em;
    line-height: 1;
    height: 2em;
    border-radius: 2em;
    font-weight: 500;

    &.space2 {
      color: #fff;
      background-color: $color3;
    }
    &.space3 {
      color: var(--color-background);
      background-color: var(--color-gray-lv4);
    }
  }
  .time {
    color: var(--color-gray-lv4);
  }
}

.fadeIn {
  animation: fadeIn 1s both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
