@import "@/styles/var.scss";

.chatlist {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: fcSize(40, 52);
  margin: auto;
}

.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease; /* 0.5초 동안 opacity를 변화시킵니다. */
}

.show {
  opacity: 1;
}
