$maxW: 1200;
$maxWidth: 79rem;

$color: #6df2cc;
$color2: #160e26;
$color3: #a571e3;
$color4: #65e783;

@function fcSize($min, $max) {
  @return clamp($min * 0.1rem, (100vw / $maxW) * $max, $max * 0.1rem);
}

$headerHeight: fcSize(40, 70);
