@import "@/styles/var.scss";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input {
  font: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-surface);
  background-color: var(--color-background);
  font-size: fcSize(15, 16);
  font-family: Pretendard;
  font-weight: 400;
  line-height: 1.4;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  color: inherit;
  background: none;
}

img {
  vertical-align: top;
}

.max-wrap,
.max-wrap2 {
  width: $maxWidth;
  max-width: calc(100% - 6rem);
  margin: 0 auto;
}

.max-wrap2 {
  width: 120rem;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.section-title {
  font-weight: 700;
  font-size: fcSize(24, 32);
  text-align: center;
  margin-bottom: 1em;
}

// theme
:root {
  --color-background: #ffffff;
  --color-primary: #2e6ff2;
  --color-surface: #121314;
  --color-gray-lv1: #f3f5fa;
  --color-gray-lv2: #d9dbe0;
  --color-gray-lv3: #8d9299;
  --color-gray-lv4: #47494d;
  --color-error: #ff3440;
  --color-warn: #ffc533;
  --color-activation: #dee8ff;
  --error-default: #ff3440;
  --error-lighten: #ff4d57;
  --error-darken: #ff1a27;
  --error-text: #ffffff;
  --gray-lv1-default: #f3f5fa;
  --gray-lv1-lighten: #fff;
  --gray-lv1-darken: #caccd3;
  --gray-lv1-text: #121314;
  --gray-lv2-default: #d9dbe0;
  --gray-lv2-lighten: #e6e7ea;
  --gray-lv2-darken: #caccd3;
  --gray-lv2-text: #121314;
  --gray-lv3-default: #8d9299;
  --gray-lv3-lighten: #9ba0a6;
  --gray-lv3-darken: #80868e;
  --gray-lv3-text: #ffffff;
  --gray-lv4-default: #47494d;
  --gray-lv4-lighten: #53565a;
  --gray-lv4-darken: #3b3c40;
  --gray-lv4-text: #ffffff;
  --primary-default: #2e6ff2;
  --primary-lighten: #447ef3;
  --primary-darken: #145df0;
  --primary-text: #ffffff;
  --rgb-btn-surface: 255, 255, 255;
  --rgb-primary: 46, 111, 242;
  --rgb-background: 255, 255, 255;
  --rgb-surface: 18, 19, 20;
  --rgb-gray-lv1: 243, 245, 250;
  --rgb-gray-lv2: 217, 219, 224;
  --rgb-gray-lv3: 141, 146, 153;
  --rgb-gray-lv4: 71, 73, 77;
  --rgb-error: 255, 52, 64;
  --rgb-warn: 255, 197, 51;
  --rgb-activation: 222, 232, 255;
  --surface-default: #121314;
  --surface-lighten: #1d1f20;
  --surface-darken: #050505;
  --surface-text: #ffffff;
  --warn-default: #ffc533;
  --warn-lighten: #ffcc4d;
  --warn-darken: #ffbe1a;
  --warn-text: #121314;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-btn-surface: #ffffff;
    --color-primary: #3075ff;
    --color-background: #1f2123;
    --color-surface: #ffffff;
    --color-gray-lv1: #121314;
    --color-gray-lv2: #595f66;
    --color-gray-lv3: #8d9299;
    --color-gray-lv4: #f3f5fa;
    --color-error: #fc7377;
    --color-warn: #ffe187;
    --color-activation: #2b3444;
    --error-default: #ff3440;
    --error-lighten: #ff3440;
    --error-darken: #ff1a27;
    --error-text: #ffffff;
    --gray-lv1-default: #121314;
    --gray-lv1-lighten: #1d1f20;
    --gray-lv1-darken: #050505;
    --gray-lv1-text: #fff;
    --gray-lv2-default: #595f66;
    --gray-lv2-lighten: #646b72;
    --gray-lv2-darken: #4c5157;
    --gray-lv2-text: #fff;
    --gray-lv3-default: #8d9299;
    --gray-lv3-lighten: #9ba0a6;
    --gray-lv3-darken: #80868e;
    --gray-lv3-text: #121314;
    --gray-lv4-default: #f3f5fa;
    --gray-lv4-lighten: #fff;
    --gray-lv4-darken: #caccd3;
    --gray-lv4-text: #121314;
    --primary-default: #3075ff;
    --primary-lighten: #2e6ff2;
    --primary-darken: #145df0;
    --primary-text: #ffffff;
    --rgb-btn-surface: 255, 255, 255;
    --rgb-primary: 48, 117, 255;
    --rgb-background: 31, 33, 35;
    --rgb-surface: 255, 255, 255;
    --rgb-gray-lv1: 18, 19, 20;
    --rgb-gray-lv2: 89, 95, 102;
    --rgb-gray-lv3: 141, 146, 153;
    --rgb-gray-lv4: 243, 245, 250;
    --rgb-error: 252, 115, 119;
    --rgb-warn: 255, 225, 135;
    --rgb-activation: 43, 52, 68;
    --surface-default: #ffffff;
    --surface-lighten: #f5f8ff;
    --surface-darken: #e5edff;
    --surface-text: #121314;
    --warn-default: #ffe187;
    --warn-lighten: #ffc533;
    --warn-darken: #ffbe1a;
    --warn-text: #121314;
  }
}

.link-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4.2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  color: $color;
  border: 1px solid $color;
  font-size: 0.875em;
  padding: 0 2rem;
  transition: all 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: rgba($color, 0.9);
      color: $color2;
      font-weight: 500;
    }
  }
  #section2 & {
    background-color: var(--color-surface);
    color: var(--color-background);
    border: 0;

    @media (hover: hover) {
      &:hover {
        background-color: rgba($color, 0.9);
        color: $color2;
        font-weight: 500;
      }
    }
  }
}

.list {
  display: inline-block;
  margin: 1rem 0 0 0;

  &::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 0.5em;
    vertical-align: middle;
  }
  & ~ .list {
    margin: 0 0 1rem 0;
  }
}

.Typewriter__wrapper strong {
  color: $color;
  font-weight: 600;
}
