.map {
  max-height: 38rem;
  aspect-ratio: 790/380;
  border-radius: 1.6rem;
  background-color: var(--color-gray-lv2);
  border: 1px solid var(--color-gray-lv2);
  margin: 4rem auto;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 100%;
    aspect-ratio: 3/2;
  }
}

.address {
  text-align: center;
  word-break: keep-all;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 4rem;

  a {
    flex-shrink: 0;
    min-width: 7em;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 0.875em;
    border: 1px solid var(--color-surface);
    border-radius: 2rem;

    height: 4rem;
    padding: 0 1.6rem;
    letter-spacing: -0.2px;

    transition: all 0.2s;

    &:hover {
      background-color: var(--color-surface);
      color: var(--color-background);
    }
  }
}
