@import "@/styles/var.scss";

.footer {
  color: var(--color-gray-lv3-text);
  text-align: center;
  font-size: 0.875em;
  background-color: var(--color-gray-lv1);
  padding: fcSize(30, 52);

  p {
    word-break: keep-all;

    span {
      display: inline-block;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background);

    border-top: 1px solid rgba(var(--rgb-gray-lv2), 0.5);
  }
}
.logos {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;

  img {
    height: 2.5rem;
    width: auto;
    object-fit: contain;
    
    &.jejusan {
      height: 2.8rem;
    }
    &.ccei {
      height: 2.5rem;
    }
    &.jsa {
      height: 2.5rem;
    }
    &.kova {
      height: 2.5rem;
    }
    &.gdg {
      height: 2.5rem;
    }
    &.weniv {
      height: 2.5rem;
    }
    &.modu {
      height: 2rem;
    }
    &.ms {
      height: 2.6rem;
    }
    &.reflow {
      height: 2.5rem;
    }
    &.halla {
      height: 2.5rem;
    }
    &.ris {
      height: 2.5rem;
    }
  }

  @media screen and (max-width: 1023px) {
    gap: 1.5rem;
    
    img {
      height: 2.2rem;
      
      &.jejusan {
        height: 2.5rem;
      }
      &.modu {
        height: 1.8rem;
      }
      &.ms {
        height: 2.3rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    gap: 1.2rem;
    
    img {
      height: 2rem;
      
      &.jejusan {
        height: 2.2rem;
      }
      &.modu {
        height: 1.6rem;
      }
      &.ms {
        height: 2.1rem;
      }
    }
  }
}
