@import "@/styles/var.scss";

.footer {
  color: var(--color-gray-lv3);
  text-align: center;
  font-size: 0.875em;
  background-color: var(--color-gray-lv1);
  padding: fcSize(30, 52);

  p {
    word-break: keep-all;
  }
}
.logos {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  img {
    width: auto;
    height: 3rem;
    &.ris {
      aspect-ratio: 166/46;
      @media (prefers-color-scheme: dark) {
        filter: invert(100%);
      }
    }
    &.ccei {
      aspect-ratio: 193/32;
    }
    &.gdg {
      aspect-ratio: 229/31;
    }
    &.weniv {
      aspect-ratio: 144/30;
    }
  }

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto 0;
    max-width: 360px;

    gap: 1rem 2rem;

    img {
      width: auto;
      height: 2.4rem;
      justify-self: flex-start;

      &:nth-child(odd) {
        justify-self: flex-end;
      }
    }
  }
}
