@import "@/styles/var.scss";

.header {
  background-color: $color2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;

  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;

  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $headerHeight;

    h1 img {
      max-width: 25vw;
    }
  }
  .links {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1em;

    a:not([target]) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em 1em;
      height: 100%;
      box-sizing: border-box;
      box-shadow: inset 0 0 currentColor;
      transition: all 0.3s;

      &.active {
        color: $color;
        box-shadow: inset 0 3px currentColor;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    & > div {
      height: auto;
      font-size: 0.85em;
      height: 4rem;
    }
    .links {
      gap: 0.5em;
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1023px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .mobile {
    display: none !important;
  }
}
