@import "@/styles/var.scss";

.intro {
  background: radial-gradient(circle, #1c1230 0%, #180f29 75%, $color2 100%);
  position: relative;
  &:before {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    background-image: url(/images/bg.png);
  }

  min-height: calc(100vh - 7rem);

  display: flex;
  justify-content: center;
  align-items: center;

  text-shadow: 0 0 6px rgba(lighten($color, 50%), 0.3);
}

.location {
  background-color: var(--color-gray-lv1);
}
