@import "@/styles/var.scss";

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1em;

  li {
    align-items: flex-start;
    border-radius: 1.6rem;
    border: 1px solid var(--color-gray-lv2);
    background-color: var(--color-background);
    padding: fcSize(10, 12);
  }
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  padding: fcSize(10, 12);
  text-align: left;
  border-radius: 0.8rem;
  gap: fcSize(10, 24);

  & .title {
    display: flex;
    flex-grow: 1;
    gap: 0.8em;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 640px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.2em;
      word-break: keep-all;
    }

    strong {
      font-size: fcSize(18, 24);
      font-weight: 600;
    }
  }

  .icon {
    display: inline-flex;
    width: 3.2rem;
    height: 3.2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-gray-lv2);
    border-radius: 50%;
    flex-shrink: 0;
    transition: rotate 0.3s, background-color 0.3s, border-color 0.3s;

    &,
    svg {
      transition: all 0.3s;
    }
  }
  &:hover .icon {
    background-color: rgba($color, 0.05);
    border-color: $color;

    & svg {
      fill: $color;
    }
  }
}
.panel {
  font-size: 1em;
  width: 100%;
  overflow: hidden;
  line-height: 175%;
  height: 0;
  animation: opacity 0.3s 0.6s both;
  transition: height 0.3s;

  & > div {
    box-sizing: border-box;
    padding: 1.2rem;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.active .icon {
  rotate: -540deg;
}
.links {
  display: flex;
  gap: 1em;
  margin-top: 0.8em;
  flex-wrap: wrap;
}
.link {
  display: flex;
  word-break: keep-all;
  line-height: 1;
  font-weight: bold;
  box-shadow: inset 0 -0.5em rgba($color, 0.5);
}
